{% extends "home_layout.html" %}

{% block title %}
    Edit Profile for: {{session['fname']}}

{% endblock %}

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

{% block body %}

<h2 style="text-align:center;">Edit Profile</h2>

<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  <li class="nav-item">
    <button class="btn" id="personal_details-btn"> Personal Details </button>
  </li>
  <li class="nav-item">
    <button class="btn" id="academic_details-btn"> Academic Details </button>
  </li>
</ul>

<div class="row" id="personal_details">
  <div class="col-xs-12 col-sm-3 center">

    <form action="{{ url_for('profileChanges') }}" method="post" id="editProfile" enctype="multipart/form-data">
    </form>

    {% if session["user_type"] == "mentor" %}
    <span class="profile-picture">
      <img id="profilePicture" src="{{ url_for('static', filename=session['pic']) }}" alt="Profile Picture">
    </span>
    {%else%}
    <span class="profile-picture">
      <img id="profilePicture" src="{{ url_for('static', filename=session['pic']) }}" alt="Profile Picture">
    </span>
    {% endif %}

    <div class="space space-4"></div>

    <a href="#" class="btn btn-sm btn-block btn-danger">
      <input type="file" name="file" form="editProfile" onchange="updateProfilePicture(this);" accept="image/*" style="max-width: 100%;">
    </a>
  </div><!-- /.col -->

  <div class="col-xs-12 col-sm-9">
    <h4 style='margin-top: 30px;'>
      <span style="text-align: center;"> Personal Details </span>
    </h4>
    <div class="line"></div>
    <h4>
      <span class="middle">{{session['fname']}} {{session['lname']}}</span>
    </h4>
    <div class="profile-user-info">

      <div class="profile-info-row">
        <div class="profile-info-name"> Username </div>
        <div class="profile-info-value">
          <input class="form-control" type="text" placeholder="{{session['username']}} (Can't be changed)" readonly>
        </div>
      </div>

      
      <div class="profile-info-row">
        <div class="profile-info-name"> First Name </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="fname" class="form-control" value="{{session['fname']}}">
        </div>
      </div>


      <div class="profile-info-row">
        <div class="profile-info-name"> Last Name </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="lname" class="form-control" value="{{session['lname']}}">
        </div>
      </div>


      {% if session["user_type"] == "mentee" %}
      <div class="profile-info-row">
        <div class="profile-info-name"> PRN NO. </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="prn_num" class="form-control" value="{{session['prn_num']}}" placeholder = 'Enter PRN NO.'>
        </div>
      </div>
      {%endif%}


      {% if session["user_type"] == "mentee" %}
      <div class="profile-info-row">
        <div class="profile-info-name"> D.O.B </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="dob" class="form-control" value="{{session['dob']}}" placeholder = 'Enter D.O.B in (dd/mm/yyyy)'>
        </div>
      </div>
      {%endif%}


      {% if session["user_type"] == "mentee" %}
      <div class="profile-info-row">
        <div class="profile-info-name"> Branch </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="branch" class="form-control" value="{{session['branch']}}" placeholder = 'Enter branch'>
        </div>
      </div>
      {%endif%}


      {% if session["user_type"] == "mentee" %}
      <div class="profile-info-row">
        <div class="profile-info-name"> Batch </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="batch" class="form-control" value="{{session['batch']}}" placeholder = 'Enter batch'>
        </div>
      </div>
      {%endif%}


      <div class="profile-info-row">
        <div class="profile-info-name"> College Email </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="email" class="form-control" value="{{session['email']}}" placeholder = 'Enter college email (ac.in)'>
        </div>
      </div>


      {% if session["user_type"] == "mentee" %}
      <div class="profile-info-row">
        <div class="profile-info-name"> Mobile No. </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="mobile_no" class="form-control" value="{{session['mobile_no']}}" placeholder = 'Enter your mobile number'>
        </div>
      </div>
      {%endif%}


      {% if session["user_type"] == "mentee" %}
      <div class="profile-info-row">
        <div class="profile-info-name"> Address </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="address" class="form-control" value="{{session['address']}}" placeholder = 'Enter address'>
        </div>
      </div>
      {%endif%}


      {% if session["user_type"] == "mentee" %}
      <div class="profile-info-row">
        <div class="profile-info-name"> Blood Group </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="blood_grp" class="form-control" value="{{session['blood_grp']}}" placeholder = 'Enter blood group'>
        </div>
      </div>
      {%endif%}


      {% if session["user_type"] == "mentee" %}
      <div class="profile-info-row">
        <div class="profile-info-name"> LinkedIn Id </div>
        <div class="profile-info-value">
          <input type="text" form="editProfile" name="linkedin_pro" class="form-control" value="{{session['linkedin_pro']}}" placeholder = 'Enter LinkedIn Profile Link'>
        </div>
      </div>
      {%endif%}

      <div class="profile-info-row">
        <div class="profile-info-name"> Job </div>
        <div class="profile-info-value">
          {% if session["user_type"] == "mentor" %}
            <input type="text" form="editProfile" name="job" class="form-control" value="{{session['job']}}">
          {% else %}
            <input class="form-control" type="text" placeholder="Student" readonly>
          {% endif %}
        </div>
      </div>
    </div>
    {% if session["user_type"] == "mentee" %}
    <h4 style='margin-top: 30px;'>
      <span style="text-align: center;"> Parent Details </span>
    </h4>
    <div class="line"></div>
    <div class="profile-user-info">
    <div class="profile-info-row">
      <div class="profile-info-name"> Name </div>
      <div class="profile-info-value">
        <input type="text" form="editProfile" name="parent_name" class="form-control" value="{{session['parent_name']}}"  placeholder='Enter name'>
      </div>
    </div>


    <div class="profile-info-row">
      <div class="profile-info-name"> Occupation </div>
      <div class="profile-info-value">
        <input type="text" form="editProfile" name="occupation" class="form-control" value="{{session['occupation']}}" placeholder='Enter occupation'>
      </div>
    </div>

    <div class="profile-info-row">
      <div class="profile-info-name"> Mobile No. </div>
      <div class="profile-info-value">
        <input type="text" form="editProfile" name="p_mobile_no" class="form-control" value="{{session['p_mobile_no']}}" placeholder='Enter mobile number'>
      </div>
    </div>
  </div>
    {%endif%}

    {% if session["user_type"] == "mentee" %}
    <h4 style='margin-top: 30px;'>
      <span style="text-align: center;"> Academic Details </span>
    </h4>
    <div class="line"></div>
    <div class="profile-user-info">
    <div class="profile-info-row">
      <div class="profile-info-name"> SSC % </div>
      <div class="profile-info-value">
        <input type="text" form="editProfile" name="ssc" class="form-control" value="{{session['ssc']}}"  placeholder='Enter %'>
      </div>
    </div>


    <div class="profile-info-row">
      <div class="profile-info-name"> HSC % </div>
      <div class="profile-info-value">
        <input type="text" form="editProfile" name="hsc" class="form-control" value="{{session['hsc']}}" placeholder='Enter %'>
      </div>
    </div>

    <div class="profile-info-row">
      <div class="profile-info-name"> CET/JEE Score </div>
      <div class="profile-info-value">
        <input type="text" form="editProfile" name="cet_jee" class="form-control" value="{{session['cet_jee']}}" placeholder='Enter score'>
      </div>
    </div>
  </div>
    {%endif%}
    <div class="line"></div>
    {% if session["user_type"] == "mentee" %}
    <div class="col-xs-12 col-sm-3 center">
      <!-- ... (other profile content) -->
   
      <!-- Display the QR code image -->
      <img id="qrCodeImage" src="{{ url_for('static', filename='img/qrcode_' + session['username'] + '.png') }}?t={{ timestamp }}" alt="QR Code" style="max-width: 100%;">
   </div>
   
   <button id="saveAsPngButton" class="btn btn-outline-primary">Save as PNG</button>

   <div class="line"></div>
      <div class="widget-box transparent">
        <div class="form-group">
      <label for="exampleFormControlTextarea1">Edit Bio</label>
      <textarea class="form-control" form="editProfile" name="bio" id="exampleFormControlTextarea1" rows="3" >{{session["bio"]}}</textarea>
  
    </div>
      </div>

   <script>
    document.getElementById("saveAsPngButton").addEventListener("click", function () {
        // Get the QR code image element
        const qrImage = document.getElementById("qrCodeImage");
        const username = "{{ session['username'] }}";

        // Create a temporary link element
        const a = document.createElement("a");
        a.href = qrImage.src; // Set the URL to the QR code image
        a.download = `${username}_QRcode.png`; // Set the desired filename for the download
        document.body.appendChild(a);

        // Trigger a click event on the link to start the download
        a.click();

        // Remove the temporary link element
        document.body.removeChild(a);
    });
    </script>
{% else %}
{%endif%}
      <div class="profile-info-row">
        <div class="profile-info-name"> Preferences </div>

        <div class="profile-info-value">
          {% if session["user_type"] == "mentor" %}

            {% if session["cv_help"] %}
              <input type="checkbox"  form="editProfile" name = "cvhelp2"  id="exampleCheck4" checked>
            {% else %}
              <input type="checkbox"  form="editProfile" name = "cvhelp2"  id="exampleCheck4" >
            {% endif %}
            <label class="form-check-label" for="exampleCheck4">CV tips/Cover letter help</label><br>

            {% if session["meetStudents"] %}
              <input type="checkbox"  form="editProfile" name = "meet_students"  id="exampleCheck5" checked>
            {% else %}
              <input type="checkbox"  form="editProfile" name = "meet_students"  id="exampleCheck5">
            {% endif %}
            <label class="form-check-label" for="exampleCheck5">Meeting current students and advising them</label><br>

            {% if session["mockInterview"] %}
              <input type="checkbox"  form="editProfile" name = "mockInterview2"  id="exampleCheck6" checked>
            {% else %}
              <input type="checkbox"  form="editProfile" name = "mockInterview2"  id="exampleCheck6" >
            {% endif %}
            <label class="form-check-label" for="exampleCheck6">Mock interviews</label><br>

            {% if session["workExp"] %}
              <input type="checkbox"  form="editProfile" name = "workExp"  id="exampleCheck7" checked>
            {% else %}
              <input type="checkbox"  form="editProfile" name = "workExp"  id="exampleCheck7">
            {% endif %}
            <label class="form-check-label" for="exampleCheck7">Arranging work experience</label><br>


          {% else %}

            {% if session["cv_help"] %}
              <input type="checkbox"  form="editProfile" name = "cvhelp2"  id="exampleCheck1" checked>
            {% else %}
              <input type="checkbox"  form="editProfile" name = "cvhelp2"  id="exampleCheck1" >
            {% endif %}
            <label class="form-check-label" for="exampleCheck1">CV tips/Cover letter help</label><br>

            {% if session["mockInterview"] %}
              <input type="checkbox" form="editProfile" name="mockInterview"  id="exampleCheck3" checked>
            {% else %}
              <input type="checkbox" form="editProfile" name="mockInterview"  id="exampleCheck3">
            {% endif %}
            <label class="form-check-label" for="exampleCheck3">Mock interviews</label><br>

            {% if session["meetAlumni"] %}
              <input type="checkbox" form="editProfile" name="meetAlumni"  id="exampleCheck2" checked>
            {% else %}
              <input type="checkbox" form="editProfile" name="meetAlumni"  id="exampleCheck2">
            {% endif %}
            <label class="form-check-label" for="exampleCheck2">Meeting an alumni mentor</label><br>


          {% endif %}

        </div>

    </div>
  </div><!-- /.col -->

</div><!-- /.row -->

<style>
  #profilePicture {
      max-width: 100%;
      max-height: 200px; /* You can adjust the max height as needed */
  }
</style>

<div class="space-20"></div>

<div class="row" id="academic_details" style='display: none;'>
  <div class="col-xs-12 col-sm-3 center">
    <div>
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grades Table</title>
        <style>
            table {
                border-collapse: collapse;
                width: 80%;
                margin: 20px auto;
            }
    
            table, th, td {
                border: 1px solid #ccc;
            }
    
            th, td {
                padding: 8px;
                text-align: center;
            }
    
            th {
                background-color: #f2f2f2;
            }
    
            .add-row-button, .delete-row-button {
                display: inline-block;
                margin: 10px auto;
                padding: 10px;
                background-color: #007bff;
                color: #fff;
                border: none;
                cursor: pointer;
            }

            .button-container {
              text-align: center;
              margin: 20px;
          }
        </style>
    </head>
    <body>
        <h2>Grade Table</h2>
        <!-- Table for Semester 1 -->
        <h3>Semester 1</h3>
        <table id="semester1">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subject</th>
                    <th>Marks in IA (Avg)</th>
                    <th>Marks in Semester</th>
                    <th>Attempt 1</th>
                    <th>Attempt 2</th>
                    <th>Attempt 3</th>
                    <th>Attempt 4</th>
                    <th>Attempt 5</th>
                    <th>Attempt 6</th>
                </tr>
            </thead>
            <tbody>
                <!-- Default rows (at least 5) -->
                <tr>
                    <td>1</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
          <button class="add-row-button" onclick="addRow('semester1')">Add Row</button>
          <button class="delete-row-button" onclick="deleteRow(this, 'semester1')">Delete Row</button>
          </div>

        <h3>Semester 2</h3>
        <table id="semester2">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subject</th>
                    <th>Marks in IA (Avg)</th>
                    <th>Marks in Semester</th>
                    <th>Attempt 1</th>
                    <th>Attempt 2</th>
                    <th>Attempt 3</th>
                    <th>Attempt 4</th>
                    <th>Attempt 5</th>
                    <th>Attempt 6</th>
                </tr>
            </thead>
            <tbody>
                <!-- Default rows (at least 5) -->
                <tr>
                    <td>1</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
          <button class="add-row-button" onclick="addRow('semester2')">Add Row</button>
          <button class="delete-row-button" onclick="deleteRow(this, 'semester2')">Delete Row</button>
          </div>

        <h3>Semester 3</h3>
        <table id="semester3">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subject</th>
                    <th>Marks in IA (Avg)</th>
                    <th>Marks in Semester</th>
                    <th>Attempt 1</th>
                    <th>Attempt 2</th>
                    <th>Attempt 3</th>
                    <th>Attempt 4</th>
                    <th>Attempt 5</th>
                    <th>Attempt 6</th>
                </tr>
            </thead>
            <tbody>
                <!-- Default rows (at least 5) -->
                <tr>
                    <td>1</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
          <button class="add-row-button" onclick="addRow('semester3')">Add Row</button>
          <button class="delete-row-button" onclick="deleteRow(this, 'semester3')">Delete Row</button>
          </div>

        <h3>Semester 4</h3>
        <table id="semester4">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subject</th>
                    <th>Marks in IA (Avg)</th>
                    <th>Marks in Semester</th>
                    <th>Attempt 1</th>
                    <th>Attempt 2</th>
                    <th>Attempt 3</th>
                    <th>Attempt 4</th>
                    <th>Attempt 5</th>
                    <th>Attempt 6</th>
                </tr>
            </thead>
            <tbody>
                <!-- Default rows (at least 5) -->
                <tr>
                    <td>1</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
          <button class="add-row-button" onclick="addRow('semester4')">Add Row</button>
          <button class="delete-row-button" onclick="deleteRow(this, 'semester4')">Delete Row</button>
          </div>
        
          <h3>Semester 5</h3>
        <table id="semester5">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subject</th>
                    <th>Marks in IA (Avg)</th>
                    <th>Marks in Semester</th>
                    <th>Attempt 1</th>
                    <th>Attempt 2</th>
                    <th>Attempt 3</th>
                    <th>Attempt 4</th>
                    <th>Attempt 5</th>
                    <th>Attempt 6</th>
                </tr>
            </thead>
            <tbody>
                <!-- Default rows (at least 5) -->
                <tr>
                    <td>1</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>
        
        <div class="button-container">
          <button class="add-row-button" onclick="addRow('semester5')">Add Row</button>
          <button class="delete-row-button" onclick="deleteRow(this, 'semester5')">Delete Row</button>
          </div>
        
        <h3>Semester 6</h3>
        <table>
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subject</th>
                    <th>Marks in IA (Avg)</th>
                    <th>Marks in Semester</th>
                    <th>Attempt 1</th>
                    <th>Attempt 2</th>
                    <th>Attempt 3</th>
                    <th>Attempt 4</th>
                    <th>Attempt 5</th>
                    <th>Attempt 6</th>
                </tr>
            </thead>
            <tbody>
                <!-- Default rows (at least 5) -->
                <tr>
                    <td>1</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
          <button class="add-row-button" onclick="addRow('semester6')">Add Row</button>
          <button class="delete-row-button" onclick="deleteRow(this, 'semester6')">Delete Row</button>
          </div>
        
        <h3>Semester 7</h3>
        <table>
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subject</th>
                    <th>Marks in IA (Avg)</th>
                    <th>Marks in Semester</th>
                    <th>Attempt 1</th>
                    <th>Attempt 2</th>
                    <th>Attempt 3</th>
                    <th>Attempt 4</th>
                    <th>Attempt 5</th>
                    <th>Attempt 6</th>
                </tr>
            </thead>
            <tbody>
                <!-- Default rows (at least 5) -->
                <tr>
                    <td>1</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
          <button class="add-row-button" onclick="addRow('semester7')">Add Row</button>
          <button class="delete-row-button" onclick="deleteRow(this, 'semester7')">Delete Row</button>
          </div>

        <h3>Semester 8</h3>
        <table>
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Subject</th>
                    <th>Marks in IA (Avg)</th>
                    <th>Marks in Semester</th>
                    <th>Attempt 1</th>
                    <th>Attempt 2</th>
                    <th>Attempt 3</th>
                    <th>Attempt 4</th>
                    <th>Attempt 5</th>
                    <th>Attempt 6</th>
                </tr>
            </thead>
            <tbody>
                <!-- Default rows (at least 5) -->
                <tr>
                    <td>1</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>
        
        <div class="button-container">
          <button class="add-row-button" onclick="addRow('semester8')">Add Row</button>
          <button class="delete-row-button" onclick="deleteRow(this, 'semester8')">Delete Row</button>
        </div>

        <script>
          function addRow(tableId) {
            const table = document.getElementById(tableId).getElementsByTagName('tbody')[0];
            const rowCount = table.rows.length;
            const newRow = table.insertRow(rowCount);
    
                const cell1 = newRow.insertCell(0);
                const cell2 = newRow.insertCell(1);
                const cell3 = newRow.insertCell(2);
                const cell4 = newRow.insertCell(3);
    
                cell1.textContent = rowCount + 1;
                cell2.innerHTML = '<input type="text">';
                cell3.innerHTML = '<input type="text">';
                cell4.innerHTML = '<input type="text">';
    
                // Add input fields for attempts 1-6
                for (let i = 0; i < 6; i++) {
                    const attemptCell = newRow.insertCell();
                    attemptCell.innerHTML = '<input type="text">';
                }
            }
            function deleteRow(button, tableId) {
              const row = button.parentNode.parentNode;
              const table = document.getElementById(tableId);
              const lastRowIndex = table.rows.length - 1;
          
              if (lastRowIndex > 0) {
                  table.deleteRow(lastRowIndex);
              }
          }
          </script>
    </div>
  </div>
</div>

<div class="line"></div>

<script>
  $(document).ready(function () {
      $("#personal_details-btn").click(function () {
          $("#personal_details").show();  // Show personal details
          $("#academic_details").hide();  // Hide academic details
      });

      $("#academic_details-btn").click(function () {
          $("#academic_details").show();  // Show academic details
          $("#personal_details").hide();  // Hide personal details
      });
  });
</script>
</body>
</html>


<script>
  function updateProfilePicture(input) {
    const profilePicture = document.getElementById("profilePicture");

    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        profilePicture.src = e.target.result;
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<script>
  function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

{% endblock %}

{% block right_button %}
<button type="submit" form="editProfile" class="btn btn-outline-success">Save Changes</button>
{% endblock %}
